@charset "utf-8";
/* CSS Document */
body {
    background: #fff;
}

.wrapper {
    max-width: 720px;
    -width: 720px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 600px;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    background-color: #FFF;
}

section img {
    display: block;
    width: 100%
}

/*header*/
.header {
    position: relative;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}

.header .btitle {
    width: 100%;
    height: 3.42rem;
    text-align: center;
    background-color: #d63232;
    position: relative;
}

.btitle h1 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 3.42rem;
    color: #fff;
}

/*main-visual*/
.main-visual {
    width: 100%;
    height: 10.39rem;
    overflow: hidden;
    position: relative;
    display: block;
}

.lg-main-visual {
    height: 21.33rem;
}

.main-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main-image ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main-image li {
    float: left;
    width: 100%;
    height: 100%;
}

.main-image li span {
    display: block;
    width: 100%;
    height: 100%;
}

.main-image li img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

div.flicking-con {
    position: absolute;
    bottom: .5rem;
    right: 1%;
    z-index: 999;
}

div.flicking-con a {
    display: inline-block;
    -display: inline;
    -zoom: 1;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.28rem;
    -font-size: 0;
    cursor: pointer;
    background: #fff;
    border-radius: 16px;
    text-indent: -999rem;
}

div.flicking-con a.on {
    background-color: #d63232;
}

/*product-list-nav*/
.nav-bar {
    position: relative;
    background-color: #f2f2f2;
    text-align: center;
    z-index: 999;
}

.nav-bar li {
    float: left;
    margin-left: 22.2%;
    width: auto;
    height: 3.2rem;
    border-bottom: .17rem solid transparent;
}

.nb3 li {
    margin-left: 17%;
}

.nb3 li a {
    color: #aaa;
}

.nb4 li {
    margin-left: 7.8%
}

.nav-bar li.on {
    border-color: #f95858;
}

.nav-bar li.on a {
    color: #2f415f;
}

.nav-bar a {
    font-size: 1.24rem;
    line-height: 3.2rem;
}

/*nav*/
.nav-dropdown {
    width: 100%;
    background-color: #fff;
}

.nav-dp {
    position: relative;
    padding-top: .7rem;
    width: 100%;
    height: 3rem;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-dp .dp {
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-right: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.nd3 .dp {
    width: 33.3%;
}

.nd2 .dp {
    width: 50%;
}

.nav-dp .dp:last-child {
    border: 0;
}

.nav-dropdown a {
    position: relative;
}

.nav-dropdown i {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: block;
    width: .1rem;
    height: .1rem;
    border: .36rem solid transparent;
    border-top-color: #333;
}

.nav-dp .dp.on > a {
    color: #f64f00;
}

.nav-dp .dp-double .on > a {
    color: #f64f00;
}

.nav-dp .dp.on i {
    border-top-color: #f64f00;
}

.nav-dp ul {
    position: absolute;
    right: 0;
    top: 2.9rem;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    box-sizing: border-box;
    z-index: 999;
}

.nav-dp .dp-double > ul {
    width: 50%;
    right: 50%;
}

.dp ul em {
    position: absolute;
    right: 1rem;
    top: 35%;
    width: 1rem;
    height: 1rem;
    background: url(/static/img/mobile/arrow_black.png) no-repeat;
    background-size: contain;
}

.dp .on em {
    background-image: url(/static/img/mobile/arrow_orange.png);
}

.nav-dp ul li {
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #c8c7cc;
    cursor: pointer;
}

.nav-dp ul li.on {
    color: #f64f00;
    background-color: #fff;
}

.nav-dropdown .panel {
    position: absolute;
    display: none;
    width: 50%;
    background-color: #fff;
}

.nav-dropdown .panels .on {
    display: block;
}

.nav-dropdown .panel li {
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #c8c7cc;
    cursor: pointer;
}

/*product-search-list*/
.search-list > div > div {
    width: 100%;
    padding: .5rem;
    border-bottom: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.search-list .left {
    float: left;
    width: 30%;
    height: 6.36rem;
}

.search-list .left img {
    width: 100%;
    height: 100%;
}

.search-list .right {
    position: relative;
    float: left;
    width: 70%;
    padding-left: .5rem;
    font-size: 1rem;
    color: #aaa;
    box-sizing: border-box;
}

.search-list .right dt {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 2.7rem;
    font-size: 1.1rem;
    color: #000;
}

.search-list .right dl span {
    display: block;
    margin-top: .6rem;
}

.search-list dd {
    position: relative;
}

.search-list dd a {
    color: #aaa;
}

.search-list dd span {
    font-size: .9rem;
}

.search-list dd span i {
    color: #f00;
    font-size: .8rem;
    font-weight: bold;
}

.search-list dd span em {
    font-size: .62rem;
    line-height: .9rem;
}

.search-list .right dd > span {
}

.search-list .add {
    margin-top: .8rem;
    padding: .8rem 0 .3rem;
    border-top: 1px solid #f6f6f6;
    color: #aaa;
}

.search-list .add li {
    height: 1.6rem;
    font-size: .8rem;
    line-height: 1.6rem;
}

.search-list .add span {
    display: inline-block;
    vertical-align: middle;
}

.search-list h2 {
    height: 3.2rem;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.search-list p {
    margin-top: 1rem;
}

.search-list p i {
    margin-right: .4rem;
    margin-top: -3px;
}

.search-list p span {
    display: inline-block;
    width: 40%;
    font-size: .8rem;
    line-height: 2rem;
}

.search-list p span:last-child {
    width: 55%;
}

.loading a {
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    color: #666 !important;
}

.loading-gif {
    padding-bottom: 1rem;
    display: none;
}

.loading-gif img {
    margin: 0 auto;
    width: 1.33rem;
}

/*order-list */
.order-list {
    margin-bottom: 1rem;
    background-color: #fff;
}

.order-list a {
    color: #000;
}

.order-list .box-right {
    margin-right: 1.6rem;
}

.order-details {
    padding: 1.2rem;
}

.order-details .left {
    float: left;
    width: 30%;
    height: 6.36rem;
}

.order-details .left img {
    width: 100%;
    height: 100%;
}

.order-details .right {
    position: relative;
    float: left;
    width: 70%;
    padding-left: .5rem;
    box-sizing: border-box;
}

.order-details h2 {
    display: table-cell;
    height: 3.2rem;
    vertical-align: middle;
    font-size: 1.2rem;
}

.order-details p {
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
}

.order-details p span {
    display: block;
    float: left;
    line-height: 2rem;
}

.order-details p span:last-child {
    float: right;
}

.order-details b {
    font-weight: normal;
    color: #aaa;
}

.non-payment .arrow,
.zc-success .arrow,
.zc-ing .arrow {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/arrow_orange.png);
    background-position: 0 -.3rem;
}

.paid-payment .arrow,
.zc-fail .arrow {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/arrow_black.png);
    background-position: 0 -.3rem;
}

.non-payment .box-right,
.zc-success .box-right,
.zc-ing .box-right {
    color: #ff8b00;
}

/*my-order*/
.my-order-details {
    padding: .7rem 0;
}

.my-order-product {
    padding: .2rem 0 0;
}

.my-order-product > p {
    display: table-cell;
    height: 2.8rem;
    padding-left: 1rem;
    vertical-align: middle;
}

.my-order-product .order-details {
    padding: .66rem 1rem;
    border-top: 1px solid #c8c7cc;
    color: #000;
    background-color: #efeff4;
}

.my-order-details .box,
.my-order-product .box {
    height: 3rem;
    padding: .8rem 1rem .8rem;
    border: none;
}

.my-order-details .box {
    color: #555;
}

.my-order-details.zc .box {
    color: #000;
    font-size: 1.1rem;
}

.my-order-product.zc .box {
    font-size: 1.1rem;
}

.my-order-details .box .box-left:first-child {
    padding-right: 1rem;
    width: 4.7rem;
    text-align: right;
}

.my-order-btn {
    padding: .3rem 1.6rem;
    box-sizing: border-box;
}

.my-order-btn input {
    float: right;
    margin-left: .4rem;
    width: 6.8rem;
    height: 2.22rem;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
}

/*my-comment*/
.my-comment {
    padding: .8rem 2rem;
}

.comment-grade {
    margin-bottom: 1.4rem;
    border: 1px solid #d63231;
    border-radius: 6px;
}

.comment-grade li {
    float: left;
    width: 33.3%;
    height: 2.22rem;
    line-height: 2.22rem;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #d63231;
    color: #d63231;
}

.comment-grade li:last-child {
    border: none;
}

.comment-grade li.on {
    color: #fff;
    background-color: #d63231;
}

.my-comment .box {
    height: 2.6rem;
    padding: .2rem 0;
    border: none;
    font-size: 1.1rem;
}

.my-comment .box div {
    position: relative;
}

.star-position {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2.8rem;
    display: inline-block;
    width: 10rem;
    height: 1.6rem;
}

.star-position li {
    float: left;
    width: 20%;
    box-sizing: border-box;
    color: transparent;
}

.my-comment div {
    margin: .5rem 0;
}

.my-comment div span {
    color: #aaa;
}

.my-comment textarea {
    margin: .5rem 0;
    width: 100%;
    height: 8.4rem;
    border-radius: .5rem;
    resize: none;
}

.my-comment input {
    width: 100%;
    height: 3.11rem;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    background-color: #fb4e09;
}

/*overlay*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    z-index: 100;
    display: none;
}

#section2 img {
    margin-bottom: 8px;
    width: 100%;
}

.product {
    position: relative;
    width: 100%;
    margin-bottom: 3.82rem;
    background-color: #ececec;
}

.product-cont {
    position: relative;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #c8c7cc;
    background-color: #fff;
}

.product-cont dl {
    position: relative;
    width: 100%;
    margin-bottom: .15rem;
}

.product-cont dt {
    margin-top: 1.1rem;
    font-size: 1.2rem;
    color: #000;
}

.product-cont dl span {
    display: block;
    margin-top: .8rem;
    font-size: .8rem;
    color: #aaa;
}

.product-cont dd span i {
    font-size: 1rem;
    font-weight: bold;
    color: #f00;
}

.product-cont dd span:last-child {
    margin-top: .8rem;
}

.product-cont ul li {
    width: 10rem;
    height: 2rem;
    color: #777;
}

.product-cont input {
    position: absolute;
    border: 0 none;
    right: .8rem;;
    bottom: 3.3rem;
    width: 8.4rem;
    height: 2.98rem;
    background: url(/static/img/mobile/inside_buy.png) no-repeat;
    background-size: contain;
}

.module {
    margin-top: 1.33rem;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

.module-sm {
    margin-top: .4rem;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

.product-details .tabs li {
    float: left;
    width: 33.3%;
    height: 4.31rem;
    text-align: center;
    border-bottom: .44rem solid #ffeeee;
    box-sizing: border-box;
}

.product-details .tabs li.active {
    border-bottom-color: #f95d5d;
}

.tabs li a {
    line-height: 3.8rem;
}

.tabs li span {
    display: inline-block;
    /*vertical-align: middle;*/
}

.tabs li i {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-details .panels {
    width: 100%;
    padding: .8rem;
}

.product-related .other {
    height: 3.33rem;
    line-height: 3.33rem;
    font-size: 1.2rem;
}

.product-related .other span {
    display: inline-block;
}

.product-related ul li {
    height: 3.33rem;
    line-height: 3.33rem;
    border-top: 1px solid #c8c7cc;
}

.product-related ul a {
    color: #000;
}

.product-related ul span {
    float: right;
    margin-right: 3rem;
}

.box {
    position: relative;
    width: 100%;
    height: 4.3rem;
    padding: 1.5rem 1.6rem;
    color: #000;
    border-bottom: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.box-lg {
    padding: 1.2rem 1.6rem;
}

.box-double {
    position: relative;
    height: 6rem;
    padding: 1.2rem 1.6rem;
}

.box .box-left {
    float: left;
}

.box .box-right {
    float: right;
}

.box h2 {
    margin-top: -.1rem;
    font-size: 1.2rem;
}

.color-black {
    color: #000;
}

.color-orange {
    color: #ff8b00;
}

.color-gray {
    color: #8e8e93;
}

.color-red {
    color: #f00;
}

.product-comment .box-right {
    position: relative;
    margin-right: 5rem;
}

.product-comment em {
    margin-left: 3rem;
}

.product-related .box-left {
    width: 67%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-related .box-right {
    width: 25%;
    text-align: left;
}

.order-product {
    padding: .8rem;
    border-bottom: 1px solid #c8c7cc;
}

.order-product div:first-child {
    margin-bottom: .8rem;
}

.order-product.zc div {
    margin: 0;
}

.order-product img {
    float: left;
    width: 29%;
    height: 6.4rem;
}

.order-product dl {
    float: right;
    position: relative;
    width: 71%;
    height: 6.4rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.order-product dt {
    display: table-cell;
    height: 2.66rem;
    vertical-align: middle;
    font-size: 1rem;
}

.order-product.zc dt {
    font-size: 1.2rem;
}

.order-product dd {
    position: absolute;
    bottom: .5rem;
    font-size: .9rem;
    font-weight: bold;
}

.order-product.zc dd {
    font-size: 1rem;
}

.order-pro-details {
    margin-bottom: 3.82rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    direction: rtl;
    padding: 0 10px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    text-align: right;
}

select option {
    direction: rtl;
}

.order-pro-details input[type=button] {
    display: inline-block;
    vertical-align: middle;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 1.2rem;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
}

.order-pro-details .count {
    display: inline-block;
    width: 2rem;
    text-align: center;
}

.btn-reduce {
    background-image: url(/static/img/mobile/icon_reduce.png);
}

.btn-add {
    background-image: url(/static/img/mobile/icon_add.png);
}

.btn-reduce-disabled {
    background-image: url(/static/img/mobile/icon_reduce_disable.png);
}

.btn-add-disabled {
    background-image: url(/static/img/mobile/icon_add_disable.png);
}

.sum {
    position: relative;
    text-align: center;
}

.sum span:last-child {
    position: absolute;
    right: 1.6rem;

}

.sum em {
    font-weight: bold;
}

.content {
    margin-bottom: 3.82rem;
    background-color: #efeff4;
}

.bg {
    background-color: #efeff4;
}

.contact {
    width: 100%;
    padding: 1.2rem;
    background-color: #fff;
    border-bottom: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.contact fieldset {
    padding: .5rem;
    border: 1px solid #c8c7cc;
    border-radius: .5rem;
}

.contact legend {
    font-color: #000;
    font-size: 1rem;
}

.contact div {
    padding-top: 1rem;
    width: 100%;
    height: 2rem;
}

.contact label {
    display: inline-block;
    width: 18%;
    text-align: right;
}

.contact input {
    width: 77%;
    padding-left: 1rem;
    box-sizing: border-box;
    color: #000;
    border: 0;
    border-bottom: 1px solid #c8c7cc;
}

.remark {
    padding: .5rem 1.2rem 1.2rem;
    background-color: #fff;
    box-sizing: border-box;
}

.remark textarea {
    margin-top: .5rem;
    width: 100%;
    height: 4.27rem;
    border-radius: .5rem;
    resize: none;
}

/*btn-slide*/
.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    -moz-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    -moz-font-language-override: normal;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.checkbox label {
    width: 2.67rem;
    height: 1.24rem;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 1.33rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox label:after {
    content: '';
    position: absolute;
    width: 1.48rem;
    height: 1.48rem;
    border-radius: 100%;
    left: 0;
    top: -2rem;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.checkbox input:hover + label:after {
    box-shadow: 0 2px .44rem 0 rgba(0, 0, 0, 0.2), 0 3px .36rem 0 rgba(0, 0, 0, 0.15);
}

.checkbox input:checked + label:after {
    left: 1.2rem;
}

.slide .checkbox:after {
    content: '\f00d';
    color: #aaa;
    position: relative;
    right: .89rem;
    bottom: .44rem;
}

.slide .checkbox:before {
    content: '\f00c';
    position: relative;
    left: 1rem;
    bottom: .44rem;
    color: #fff;
    z-index: 1;
}

.slide .checkbox label {
    width: 2.4rem;
    background: #EAEAEA;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
}

.slide .checkbox label:after {
    top: 0;
    width: 1.24rem;
    height: 1.24rem;
}

.slide .checkbox input:checked + label {
    background: #4BD865;
}

.slide .checkbox input:checked + label:after {
    left: 1.2rem;
}

/*discount*/
.under {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    display: none;
}

#modal {
    max-width: 612px;
    width: 85%;
    height: 15rem;
    padding: 1rem 0;
    margin: 50% auto;
    background: #eee;
}

#modal input {
    width: 4rem;
    height: 1.5rem;
    margin: auto;
    font-size: .8rem;
    text-align: center;
    border: 0;
    background-color: #fff;
}

#modal p {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1rem;
}

#modal p input[type=button] {
    border-radius: .5rem;
}

#modal p input[type=button]:first-child {
    margin-right: 4rem;
}

.purchase {
    padding: 1.6rem 1.6rem 1rem;
    background-color: #fff;
    border-bottom: 1px solid #c8c7cc;
    font-size: 1rem;
}

.purchase h1 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.purchase tr {
    height: 1.87rem;
    line-height: 1.87rem;
}

.purchase tr td:first-child {
    float: left;
    width: 6.12rem;
}

.order-check .box-left {
    width: 7.2rem;
}

.order-check .box-right {
    float: left;
}

/*login*/
.login div {
    position: relative;
    height: 4.8rem;
    padding: 1.6rem;
    box-sizing: border-box;
}

.login .login-line {
    border-bottom: 1px solid #c8c7cc;
}

.login .login-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    border: none;
}

.login div a {
    width: auto;
}

.login div a:first-child {
    float: left;
}

.login div a:last-child {
    float: right;
}

.login p {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
}

/*verify */
.login .login-line span {
    position: absolute;
    display: block;
    right: 1.6rem;
    top: 1.2rem;
}

/*account*/
.account {
    position: relative;
    width: 100%;
    height: 8.8rem;
    padding: 1.6rem;
    box-sizing: border-box;
}

.account .left {
    float: left;
    width: 5.6rem;
    height: 5.6rem;
    overflow: hidden;
    background-color: #eee;
    border-radius: 2.8rem;
}

.account .right {
    float: left;
    height: 5.4rem;
    margin-left: .8rem;
}

.account .right p {
    height: 2.6rem;
    line-height: 2.6rem;
    font-size: 1.4rem;
}

.account .right p span {
    margin-left: .5rem;
    font-size: 1rem;
}

.account .arrow {
    position: absolute;
    top: 3.3rem;;
    right: 1.6rem;
    width: 1.2rem;
    height: 2rem;
    background: url(/static/img/mobile/arrow_01.png) no-repeat;
    background-size: contain;
}

.infor {
    width: 100%;
    height: 5.2rem;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
    background-color: #fff;
}

.infor li {
    float: left;
    width: 33.3%;
    height: 5.2rem;
    padding: .6rem 0;
    line-height: 2rem;
    border-right: 1px solid #c8c7cc;
    box-sizing: border-box;
}

.infor li:last-child {
    border: 0;
}

.infor p {
    width: 100%;
    text-align: center;
}

/*.info-list-page .head {*/
/*position: relative;*/
/*width: 100%;*/
/*height: 7.6rem;*/
/*padding: .7rem 1.6rem;*/
/*border-bottom: 1px solid #c8c7cc;*/
/*box-sizing: border-box;*/
/*line-height: 6.2rem;*/
/*background-color: #fff;*/
/*}*/

/*.info-list-page .head img {*/
/*float: right;*/
/*margin-right: 3.2rem;*/
/*width: 6.2rem;*/
/*height: 6.2rem;*/
/*background-color: #000;*/
/*border-radius: 3.1rem;*/
/*}*/

/*.info-list-page .head .arrow {*/
/*top: 4rem;*/
/*}*/

.info-list-page .box-right {
    margin-right: 1.6rem;
}

.personal-info-pages {
    display: none;
    background-color: transparent;
}

.btitle a {
    position: absolute;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
}

#back {
    left: 1rem;;
}

#save {
    right: 1rem;;
}

#share {
    right: 1rem;
}

#info-name input,
#info-mail input,
#info-place input {
    margin-top: 1.6rem;
    width: 100%;
    height: 3.42rem;
    border: none;
    color: #000;
}

.info-page p {
    margin-top: 1.6rem;
    padding-left: 1.6rem;
    font-size: 1.2rem;
}

.info-page .info-page-left {
    display: inline-block;
    width: 7rem;
}

.info-page .info-notice {
    font-size: 1rem;
    color: #59ae99;
}

.btn-code {
    width: 8.2rem;
    height: 2.4rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: .9rem;
    background-color: #a79a92;
}

.btn-code.get {
    background-color: #2fb12d;
}

.info-page-text {
    width: 60%;
    height: 3.33rem;
    padding-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-next, #info-pwd .btn-next {
    display: block;
    margin: 2rem auto;
    width: 95%;
    height: 3rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #fb4e09;
}

#info-pwd div {
    margin-top: 1rem;
    padding-left: 1.6rem;
    font-size: 1.2rem;
}

#info-pwd label {
    display: inline-block;
    width: 20%;
}

.caution-nav {
    width: 100%;
    height: 3.2rem;
    padding: .9rem 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

.caution-nav-write {
    background-color: #fff;
}

.caution-nav span {
    float: right;
    margin-right: 2.58rem;
}

.coupon-list {
    background-color: #efeff4;
}

.coupon {
    position: relative;
    margin: 0 1.9% .8rem;
    width: 96.2%;
    height: 9.5rem;;
    background-repeat: no-repeat;
    background-size: contain;
}

.coupon img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.coupon > ul {
    position: relative;
    z-index: 999;
    padding: .5rem 0;
}

.coupon > ul > li {
    float: left;
}

.coupon > ul > li:first-child {
    width: 36%;
    height: 8.5rem;
    line-height: 8.5rem;
    text-align: center;
    font-size: 1.64rem;
}

.coupon li ul li {
    width: 11.1rem;
    padding-left: 1rem;
    line-height: 2.83rem;
    color: #000;
}

.coupon li h3 {
    font-size: 1.24rem;
}

.note {
    padding: 1.2rem 1.6rem;
    border-bottom: 1px solid #c8c7cc;
}

.note h2 {
    margin-bottom: 2.5rem;
    color: #000;
    font-size: 1.4rem;
}

.note p {
    font-size: 1.2rem;
}

.points-totail {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c8c7cc;
}

.points-totail div {
    margin: 0 auto;
    width: 6.22rem;
    height: 6.22rem;
    box-sizing: border-box;
    padding-top: 1.37rem;
    border-radius: 3.11rem;
    text-align: center;
    color: #fff;
    background-color: #fc954b;
}

.points-totail h2 {
    margin-top: .8rem;
    font-size: 1.2rem;
}

.points-totail p {
    margin-top: 1.47rem;
    text-align: center;
}

.points-totail span {
    display: inline-block;
    margin: 0 .2rem;
    color: #000;
}

.points-totail .line {
    width: 36.25%;
    height: 0;
    margin-bottom: .35rem;
    border: 1px solid #aaa;
}

.points {
    position: relative;
    padding: 1.5rem 1.2rem;
    border-bottom: 1px solid #aaa;
}

.points dt {
    font-size: 1.11rem;
    color: #000;
}

.points dd {
    margin-top: 1.2rem;
    font-size: .9rem;
    color: #6f7179;
}

.points p {
    position: absolute;
    top: 2.8rem;
    right: 1.2rem;
    width: 5rem;
    text-align: right;
    color: #000;
}

.message-list {
    padding: 1rem 1.6rem;
    box-sizing: border-box;
    border-bottom: 1px solid #c8c7cc;
}

.message-list img {
    float: left;
    width: 16.5%;
}

.message-list div {
    float: left;
    width: 83.5%;
    padding-left: 1.2rem;
    box-sizing: border-box;
}

.message-list p:first-child {
    position: relative;
    margin-top: .2rem;
    width: 100%;
    color: #000;
}

.message-list p span {
    display: inline-block;
    width: 73%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.message-list p em {
    position: absolute;
    right: 0;
    color: #777;
}

.message-list div p:last-child {
    margin-top: 1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
}

.message-list h3 {
    clear: both;
    position: relative;
    top: .5rem;
}

/*callcenter*/
.call-center a {
    color: #aaa;
}

.call-center a em {
    color: #838383;
}

.call-center-head {
    padding: 1.2rem 0;
    border-bottom: 1px solid #c8c7cc;
}

.call-center-head img {
    margin: 0 auto 1.2rem;
    width: 7.78rem;
}

.call-center-head h2 {
    text-align: center;
    font-size: 1.2rem;
    color: #000;
}

.box-double .box-double-lg {
    width: 3.6rem;
}

.box-double .box-double-sm {
    margin-top: .7rem;
    width: 2.4rem;
}

.box-double .my-order-tel {
    position: absolute;
    top: 1.5rem;
    right: 1.6rem;;
}

.box-double li {
    height: 1.2rem;
    padding: .3rem 0 .3rem 1.2rem;
}

/*setting*/
.btn-logoff,
.btn-logon {
    padding: 1.2rem;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #f95d5d;
}

.btn-logon {
    display: block;
    margin: 0 auto;
    width: 30.4rem;
    border-radius: 6px;
}

/*gift-center*/
.gift-center section:first-child, .gift-center section.gift-how {
    padding: 1.2rem 1.6rem;
    border-bottom: 1px solid #c8c7cc;
}

.gift-center section:first-child h2 {
    text-align: center;
    font-size: 1.6rem;
    color: #000;
}

.gift-code {
    margin: 1.2rem auto 0;
    width: 26.8rem;
}

.gift-code h3 {
    margin-bottom: 1.2rem;
    width: 100%;
    padding: 1.6rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fc954b;
}

/*Crowdfunding*/
.zc-list img {
    width: 100%;
    height: 21.4rem;
}

.zc-list ul {
    padding: .6rem .8rem;
}

.zc-list li {
    padding: .6rem 0;
}

.zc-list li:first-child {
    line-height: 1.8rem;
    font-size: 1.1rem;
    color: #000;
}

.zc-list li:last-child {
    padding-bottom: 0;
    line-height: 2.4rem;
}

.zc-list li i {
    color: #fff;
    padding-left: 2rem;
    box-sizing: border-box;
    text-align: center;
}

.zc-line {
    border-top: .4rem solid #d5d5d5;
}

/*crowdfunding-detail*/
.zc-detail {
    padding: .6rem 0;
    border-bottom: 1px solid #c8c7cc;
    background-color: #fff;
}

.zc-detail li {
    padding: .6rem;
    color: #000;
    font-size: 1.2rem;
}

.zc-detail li:last-child {
    padding: 0;
}

.zc-detail .zc-time {
    float: left;
}

.zc-detail .zc-sail {
    float: right;
}

.zc-detail dl {
    float: left;
    margin-left: 3.75%;
    width: 44.5%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.zc-detail .zc-ban dt {
    display: none;
    height: 5.32rem;
    line-height: 5.32rem;
    border-radius: 6px;
    background-color: #d2d2d2;
}

.zc-detail dl dt {
    height: 3.1rem;
    line-height: 3.1rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f95d5d;
}

.zc-detail dl dd {
    height: 2.22rem;
    line-height: 2.22rem;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #313131;
}

.zc-guide {
    margin-top: .4rem;
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc;
}

.zc-guide img {
    width: 100%;
}

.zc-info {
    margin-top: .4rem;
    border-top: 1px solid #c8c7cc;
    background-color: #fff;
}

.zc-info h2 {
    padding-left: 1.2rem;
    height: 3.6rem;
    line-height: 3.6rem;
    border-bottom: 4px solid #efeff4;
    color: #000;
}

#zc-info {
    padding: .8rem;
}

.zc-scene-list {
    position: fixed;
    max-width: 720px;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

.zc-scene-list p {
    height: 3.6rem;
    padding: 0 .5rem 0 1rem;
    line-height: 3.6rem;
    color: #000;
    font-size: 1.2rem;
}

.zc-scene {
    border-bottom: 1px solid #c8c7cc;
}

.zc-scene li {
    padding: .8rem;
}

.zc-scene .scene-name span {
    float: left;
}

.zc-scene li i {
    float: right;
}

.zc-scene .scene-name {
    color: #000;
}

/*zc*/
/*progress {*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*appearance: none;*/
/*margin:0 auto;*/
/*width: 29.6rem;*/
/*height: 1.2rem;*/
/*background-color: #fff;*/
/*border: none;*/
/*border-radius: .6rem;*/
/*color: #4cc43f;*/
/*}*/

/*progress::-webkit-progress-bar, progress::-moz-progress-bar, progress::progress-bar {*/
/*background-color: #4cc43f;*/
/*border-radius: .6rem;*/
/*}*/

/*progress::-moz-progress-bar {*/
/*background-color: #4cc43f;*/
/*border-radius: .6rem;*/
/*}*/
#progress div{
    margin: .2rem auto 0;
    width: 93%;
}

#progress h2 {
    margin:2.4rem 0;
    text-align:center;
    color: #000;
    font-size: 1.6rem;
}

#progress b {
    font-weight: normal;
}

progress {
    display: inline-block;
    width: 100%;
    height: 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: #c9c9c9;
    color: #4cc43f; /*IE10*/
}

progress::-moz-progress-bar {
    background: #4cc43f;
    border-radius: .6rem;
}

progress::-webkit-progress-bar {
    background: #c9c9c9;
    border-radius: .6rem;
}

progress::-webkit-progress-value {
    background: #4cc43f;
    border-radius: .6rem;
}

/*payment*/
.payment-success {
    margin-top:2.53rem;
    text-align: center;
    color:#000;
}

.payment-success h2 {
    margin-top:.8rem;
    line-height:3rem;
    text-align:center;
    font-size: 1.87rem;
}

.payment-success p {
    line-height:2.67rem;
    text-align:center;
}

/* footer */
footer {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    height: 5rem;
    padding: 1rem 0;
    border-top: 1px solid #c8c7cc;
}

footer p {
    font-size: 1rem;
    line-height: 1rem;
    margin: .7rem;
}

footer p a {
    display: inline;
}

footer span {
    border-left: 1px solid #666;
    margin: 0 .7rem;
    line-height: 1rem;
    height: 1rem;
}

footer.footer-order {
    position: fixed;
    bottom: 0;
    max-width: 720px;
    width: 100%;
    height: 3.82rem;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f95d5d;
    -width: 720px;
    z-index: 999;
}

footer.footer-order-1 em {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    line-height: 3.82rem;
    color: #f95d5d;
    font-size: 1.5rem;
    background-color: #f5f5f5;
}

footer.footer-order a {
    line-height: 3.82rem;
    color: #fff;
    font-size: 1.5rem;
    background-color: #f95d5d;
}

footer.footer-order a.invite-friend {
    float: left;
    width: 40%;
    height: 100%;
    text-align: center;
    line-height: 3.82rem;
    color: #f95d5d;
    font-size: 1.5rem;
    background-color: #f5f5f5;
}

footer.footer-order-1 a {
    float: left;
    width: 60%;
}

footer.footer-order a.invite-friend:hover, footer.footer-order a.invite-friend:visited {
    color: #fff;
}

footer.footer-order a.invite-friend:hover, footer.footer-order a.invite-friend:visited {
    color: #f95d5d;
}

i[class] {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
}

.comment {
    margin-right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/inside_comment.png)
}

.clip {
    margin-right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/inside_products.png);
}

.t1 {
    width: 2.22rem;
    height: 2.22rem;
    background-image: url(/static/img/mobile/summer_Detail.png);
}

.t2 {
    width: 2.22rem;
    height: 2.22rem;
    background-image: url(/static/img/mobile/inside_cash.png);
}

.t3 {
    width: 2.22rem;
    height: 2.22rem;
    background-image: url(/static/img/mobile/detail_noitce.png);
}

.arrow {
    position: absolute;
    top: 1.7rem;
    right: 1.6rem;
    width: .8rem;
    height: 1rem;
    background-image: url(/static/img/mobile/arrow_02.png);
}

.hui {
    margin-right: .93rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/static/img/mobile/hui.png);
}

.quan {
    margin-right: .93rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/static/img/mobile/quan.png);
}

.price {
    margin-top:-.1rem;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/static/img/mobile/activity_price.png);
}

.time {
    margin-top:-.1rem;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/static/img/mobile/activity_time.png);
}

.share {
    margin-right: .1rem;
    width: 1.78rem;
    height: 1.78rem;
    background-image: url(/static/img/mobile/share.png);
}

.detail {
    margin-right: .8rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(/static/img/mobile/icon_01.png);
}

.phone {
    width: 1.2rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/settings_phoneicon.png);
}

.zc-icon {
    margin-right: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/static/img/mobile/settings_zc.png);
}

.notice {
    margin-right: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/static/img/mobile/notice.png);
}

.service {
    margin-right: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/static/img/mobile/service.png);
}

.setting {
    margin-right: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/static/img/mobile/setting.png);
}

.gift {
    margin-right: 1.2rem;
    width: 2rem;
    height: 2rem;
    background-image: url(/static/img/mobile/gift.png);
}

.caution {
    margin-right: .2rem;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(/static/img/mobile/jingshi.png);
}

.star {
    margin: -.2rem 0 0 2.8rem;
    width: 10rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/star.png);
    background-position: -10rem 0; /*1.84*/
    background-size: 20rem 1.6rem !important;
}

.star1 {
    background-position: -9.2rem 0;
}

.star2 {
    background-position: -7.36rem 0;
}

.star3 {
    background-position: -5.52rem 0;
}

.uname {
    width: 3.2rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/user_phone.png);
}

.pwd {
    width: 3.2rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/user_password.png);
}

.verification {
    width: 3.2rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/user_verification.png);
}

.qq {
    margin: 0 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(/static/img/mobile/qq.png);
}

.wechat {
    margin: 0 1.5rem;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(/static/img/mobile/wechat.png);
}

.zc-status {
    margin-right: .3rem;
    width: 4rem;
    height: 1.73rem;
    background-image: url(/static/img/mobile/zc_status_going.png);
}

.zc-status.end {
    background-image: url(/static/img/mobile/zc_status_end.png);
}

.zc-pricelabel {
    float: left;
    width: 11.2rem;
    height: 2.4rem;
    background-image: url(/static/img/mobile/zc_pricelabel.png);
}

.zc-go {
    float: right;
    margin-top: .5rem;
    width: 5.4rem;
    height: 1.47rem;
    background-image: url(/static/img/mobile/zc_go.png);
}

.choose-scene {
    margin-right: .67rem;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url(/static/img/mobile/zc_scene_choose.png);
}

.choose-scene-close {
    float: right;
    margin-top: 1.2rem;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(/static/img/mobile/zc_choosescene_close.png);
}

.ok {
    width:6.8rem;
    height:6.8rem;
    background-image: url(/static/img/mobile/ok.png);
}

/*/static/img/mobile/*/

