<!DOCTYPE html>
<html lang="en" ng-app="Directive01">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Directive01</title>
    </head>
    <body ng-controller="twBtnCtrl">
<!--     <div ng-include src="'index.html'" scope="" onload=""></div> -->
    <twinbutton count="counter" interval="interval"/>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script>
    /**
    * Directive01 Module
    *
    * Description
    */
    angular.module('Directive01', [])
    .controller('twBtnCtrl', ['$scope', function($scope){
        $scope.counter = 5;
        $scope.max = 10;
        $scope.min = 3;
        $scope.interval = 2;
        $scope.$watch('counter', function(newValue, oldValue){
            if (newValue > $scope.max){
                $scope.counter = $scope.max;
            } else if (newValue < $scope.min){
                $scope.counter = $scope.min;
            }
        });

    }])
    .directive('twinbutton', function(){
        return {
            scope:{
                count: "=",
                interval: '='
            },
            replace: true,
            restrict: 'E',
            template: `
                <div><button ng-click="counter(interval)">addbutton</button>
                <p ng-bind="count"></p>
                <button ng-click="counter(-interval)">reducebutton</button></div>
            `,
            link: function($scope, iElm, iAttrs, controller) {
                $scope.counter = function(n){
                    $scope.count += n;
                };
            }   
        };
    });
    </script>
    </body>
</html>