<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" xml:lang="zh-cn" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="viewport" name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="体育培训，少儿培训，免费活动，私人教练，儿童教育，培训"/>
    <meta name="description"
          content="一起动是一个专注于体育类培训、体育旅游、体育活动的网站。提供丰富的少儿培训、私人教练、儿童教育等产品，便捷、安全的在线报名。最专业的体育产品网站，您的不二选择！"/>
    <meta property="wb:webmaster" content="fe1c955feb8c2075"/>
    <meta property="qc:admins" content="344026777761747676375636"/>
    <meta name="google-site-verification" content="6-tlSb5Vpxvp5uLEju6d1nD-Z6gBzHho0DfUlMtnnQ0"/>
    <meta name="alexaVerifyID" content="K-_YgAwrL-RKMkAvyvCVvdKbii4"/>
    <meta name="baidu-site-verification" content="uMiUjETcuu"/>
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1"/>

    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/base-act.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mobile/new.css">

    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.event.drag-1.5.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>

    <title>【一起动】一站式体育服务平台_冬夏令营_篮球培训_足球培训_亲子周末活动</title>

</head>
<body>
{% raw %}
<div class="wrapper" ng-app="campProductList">
    <header class="header">
        <div class="btitle">
            <h1>冬夏令营</h1>
        </div>
    </header>

    <nav class="nav-dropdown">
        <ul class="nav-dp nd3 clearfix" ng-controller="selectCtrl">
            <li class="dp" id="dp1">
                <a href="#">
                    <span>所有项目</span>
                    <i></i>
                </a>
                <ul>
                    <li class="on">所有项目<input type="hidden" value=""></li>
                    <li ng-repeat="item in itemList">{{ item.category_name }}
                        <input type="hidden" ng-value="item.category_name">
                    </li>
                    <!-- <li>国外营</li> -->
                </ul>
            </li>
            <li class="dp" id="dp2">
                <a href="#">
                    <span>所有区域</span>
                    <i></i>
                </a>
                <ul>
                    <li class="on">所有区域<input type="hidden" value=""></li>
                    <li ng-repeat="l in locationList">{{l.product_area}}
                        <input type="hidden" ng-value="l.product_area">
                    </li>
                    </ul>
            </li>
            <li class="dp" id="dp3">
                <a href="#">
                    <span>推荐排序</span>
                    <i></i>
                </a>
                <ul>
                    <li class="on">推荐顺序<input type="hidden" value="0"></li>
                    <li>离我最近<input type="hidden" value="5"></li>
                    <li>最新产品<input type="hidden" value="2"></li>
                    <li>产品评价<input type="hidden" value="3"></li>
                    <li>价格高低<input type="hidden" value="4"></li>
                </ul>
            </li>
        </ul>
        <div class="overlay"></div>
    </nav>

    <section class="search-list">
        <div class="product-list" ng-controller="listCtrl">
            <input type="hidden" id="currentproductcount" name="currentproductcount" value="{{ productsLength }}">
            <div class="clearfix" ng-repeat="p in productList">
                <a href="{{ '/product/' + p.product_id}}">
                    <div class="left">
                        <img ng-src="{{ p.product_avatar }}" alt="{{p.product_name}}"/>
                    </div>
                    <div class="right">
                        <dl>
                            <dt>{{p.product_name}}</dt>
                            <dd>
                                <span>{{ p.product_auditfailreason}}</span>
                                <span><i>&yen;{{ p.product17dongprice}}</i>&nbsp;&#47;&nbsp;<em>&yen;{{p.productmarketprice}}</em></span>
                            </dd>
                        </dl>
                        <div class="add">
                            <ul>
                                <li ng-if="p.producthaspromotion">
                                    <i class="hui"></i>
                                    <span>国庆特惠APP下单立减100</span>
                                </li>
                                <li ng-if=" p.producthascoupon && p.product_couponwhenorder">
                                    <i class="quan"></i>
                                    <span>可领取{{ p.product_couponwhenorder}}元优惠券</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
        </div>
            <div class="loading" page="1">
        <a id="pic" href="javascript:void(0);" onclick="loadmoreproducts();">加载更多</a>
        </div>
        <div class="loading spiffygif" id="ajaxLoader1" page="1" style="display:none;"></div>
    </section>

    <div class="overlay"></div>
    <footer>
        <p>
            <a href="/">首页</a><span></span>
            <a href="/about">个人中心</a><span></span>
            <a href="/contact">联系我们</a><span></span>
            <a href="/faq">常见问题</a><span></span>
            <a href="/cooperation">商务合作</a>
        </p>

        <p>上海应酷网络科技有限公司 版权所有</p>
    </footer>
{% endraw %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-dropdown').each(function () {
                var dps = $(this).find('.dp'),
                        overlay = $(this).find('.overlay');
                dps.find('ul').hide();
                dps.bind('click', function (e) {
                    if ($(this).hasClass('on')) {
                        $(this).removeClass('on');
                        overlay.fadeOut(200);
                        $(this).find('ul').fadeOut(200);
                    } else {
                        $(this).addClass('on');
                        overlay.fadeIn(200);
                        $(this).find('ul').fadeIn(200);
                        $(this).siblings().removeClass('on');
                        $(this).siblings().find('ul').fadeOut(200);
                    }
                });

                overlay.bind('click',function(){
                    dps.find('ul').fadeOut(200);
                    $(this).fadeOut(200);
                })
            })
        });
    </script>
    <script>
    function loadmoreproducts() {
        var startpos = $("#currentproductcount").val();
        var count = 10;
        var type = "{{ producttype }}";
        var item = $('#dp1 .on').children('input').val();
        var sort = $('#dp3 .on').children('input').val();
        var location = $('#dp2 .on').children('input').val();
        var age = $("#agevalue").val();
        var elem = angular.element(document.querySelector('[ng-app]'));
        var injector = elem.injector();
        var $rootScope = injector.get('$rootScope');   
        $.ajax({
            type : "get",
            url : "/api/v2.0/product/list",
            data : { "startposition" : startpos, "count" : count, "type" : type, "sort" : sort, "item" : item, "location" : location, "age" : age },
            dataType : "json",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            async : true,
            success : function(data) {
                $rootScope.$apply(function(){
                    $rootScope.productList=$rootScope.productList.concat(data.ProductList);
                    $rootScope.productsLength = $rootScope.productList.length;
                });
            }, 
            error : function(){
            }
        });
    }

     $(".dp").on('click', 'li', function(){
        // 
        var _text = $(this).text();
        var $span = $(this).closest('ul').prev('a').children('span');
        $(this).addClass('on').siblings().removeClass('on');
        //
        if (_text != $span.text()){
            $span.text(_text);
            // ====================
            var startpos = 0;
            var count = 10;
            var type = "{{ producttype }}";
            var item = $('#dp1 .on').children('input').val();
            var sort = $('#dp3 .on').children('input').val();
            var location = $('#dp2 .on').children('input').val();
            var age = $("#agevalue").val();
            //
            var elem = angular.element(document.querySelector('[ng-app]'));
            var injector = elem.injector();
            var $rootScope = injector.get('$rootScope');   
            $.ajax({
                type : "get",
                url : "/api/v2.0/product/list",
                data : { "startposition" : startpos, "count" : count, "type" : type, "sort" : sort, "item" : item, "location" : location, "age" : age },
                dataType : "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                async : true,
                success : function(data) {
                    $rootScope.$apply(function(){
                        $rootScope.productList = data.ProductList;
                        $rootScope.productsLength = data.ProductList.length;
                    });
                }, 
                error : function(){
                }
                });
        }
    });
    /**
    * campProductList Module
    *
    * Description
    */
    var app = angular.module('campProductList', []);
    var productType = "{{ producttype }}";
    app.controller('listCtrl', ['$http', '$rootScope', function($http, $rootScope){
        $http.get('/api/v2.0/product/list?type=' + productType).success(function(response){
            $rootScope.productList = response.ProductList;
            $rootScope.productsLength = response.ProductList.length;
        });
    }]);
    app.controller('selectCtrl', ['$http', '$scope', '$element', function($http, $scope, $element){
        $http.get('/api/v2.0/product/filter/list?type=' + productType + '&filtername=item').success(function(response){
            $scope.itemList = response.FilterItems;
        });
        $http.get('/api/v2.0/product/filter/list?type=' + productType + '&filtername=location').success(function(response){
            $scope.locationList = response.FilterItems;
        });
    }]);
    </script>
</body>
</html>