<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" xml:lang="zh-cn" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="viewport" name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="体育培训，少儿培训，免费活动，私人教练，儿童教育，培训"/>
    <meta name="description"
          content="一起动是一个专注于体育类培训、体育旅游、体育活动的网站。提供丰富的少儿培训、私人教练、儿童教育等产品，便捷、安全的在线报名。最专业的体育产品网站，您的不二选择！"/>
    <meta property="wb:webmaster" content="fe1c955feb8c2075"/>
    <meta property="qc:admins" content="344026777761747676375636"/>
    <meta name="google-site-verification" content="6-tlSb5Vpxvp5uLEju6d1nD-Z6gBzHho0DfUlMtnnQ0"/>
    <meta name="alexaVerifyID" content="K-_YgAwrL-RKMkAvyvCVvdKbii4"/>
    <meta name="baidu-site-verification" content="uMiUjETcuu"/>
    <meta name="chinaz-site-verification" content="081e7651-48c6-4c2f-a569-99321685eab1"/>

    <link rel="shortcut icon" href="/static/img/mobile/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/mobile/base.css">
    <link rel="stylesheet" href="/static/css/mobile/new.css">

    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <style>
        body {
            background-color: #efeff4;
        }
    </style>

    <title>【一起动】一站式体育服务平台_冬夏令营_篮球培训_足球培训_亲子周末活动</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="btitle">
            <h1>订单确认</h1>
        </div>
    </header>
    <section class="order-check content">
        <div class="purchase">
            <h1 class="color-black">【进行中】2016年刘军足球训练营寒假班</h1>
            <table class="color-gray">
                <tr>
                    <td>课程类型:</td>
                    <td>走训营1/24 - 1/31</td>
                </tr>
                <tr>
                    <td>教学地点:</td>
                    <td>徐汇区桂林路</td>
                </tr>
                <tr>
                    <td>所选场次:</td>
                    <td>2016年1月24日到1月31日</td>
                </tr>
                <tr>
                    <td>报名人数:</td>
                    <td>1</td>
                </tr>
            </table>
        </div>

        <div class="module">
            <div class="box">
                <span class="box-left">总价</span>
                <span class="box-right">&yen;1100.00</span>
            </div>
            <div class="box">
                <span class="box-left">快递费</span>
                <span class="box-right">&yen;0</span>
            </div>
        </div>

        <div class="module">
            <div class="box">
                <span class="box-left">联系人</span>
                <span class="box-right">xiaohui</span>
            </div>
            <div class="box">
                <span class="box-left">手机号</span>
                <span class="box-right">12312312312</span>
            </div>
        </div>

    </section>

    <footer class="footer-order footer-order-1">
        <em>&yen;1100.00</em>
        <a href="">立即付款</a>
    </footer>
</div>
</body>
</html>