<div class="wrapper">
    <header class="header">
        <div class="btitle">
            <h1>订单信息</h1>
        </div>
    </header>
    <section class="order-product">
        <div>
            <span><i class="detail"></i>商品详情</span>
        </div>
        <div class="clearfix">
            <img ng-src="{{ productDetail.product_avatar}}" alt=""/>
            <dl>
                <dt ng-bind="productDetail.product_name"></dt>
                <dd class="color-red" ng-bind="'￥' + scene.DefaultScene.scene_fullprice"></dd>
            </dl>
        </div>
    </section>
    <section class="order-pro-details module">
        <div class="box" ng-switch on="ptype">
            <span class="box-left" ng-switch-default>课程类型</span>
            <span class="box-left" ng-switch-when="2">旅行类型</span>
            <span class="box-left" ng-switch-when="4">场次名称</span>
            <span class="box-right box-select">
                <a class="select">
                    <select option-click="0">
                        <option ng-repeat="name in scene.SceneNames" ng-value="name"
                        ng-bind="name" ng-selected="name == sceneParams.SceneName"></option>

                    </select>
                </a>
            </span>
            <i class="arrow"></i>
        </div>
        <div class="box" ng-if="ptype != 2" ng-switch on="ptype">
            <span class="box-left" ng-switch-default>教学点</span>
            <span class="box-left" ng-switch-when="4">活动地点</span>
            <span class="box-right">
                <a class="select">
                  <select option-click="1">
                    <option ng-repeat="location in scene.SceneLocations" ng-value="location"
                    ng-bind="location" ng-selected="location == scene.DefaultScene.scene_locations"></option>
                  </select>
                </a>
            </span>
            <i class="arrow"></i>
        </div>
        <div class="box">
            <span class="box-left">场次</span>
            <span class="box-right">
                <a class="select">
                    <select option-click="2">
                        <option ng-repeat=" timeperiod in scene.SceneTimeperiods" ng-value="timeperiod"
                        ng-bind="timeperiod" ng-selected="timeperiod == scene.DefaultScene.scene_timeperiod"></option>
                    </select>
                </a>
            </span>
            <i class="arrow"></i>
        </div>
        <div id="calculate">
            <div class="box">
                <span class="box-left">报名数量</span>
            <span class="box-right">
                <input class="btn-reduce" type="button" quantity-click="-1" ng-class="{'btn-reduce-disabled': quantity == 1}"/>
                <span type="text" class="count" ng-bind="quantity"/>
                <input class="btn-add" type="button" quantity-click="1" ng-class="{'btn-add-disabled': quantity == maxquantity}"/>
            </span>
            </div>
            <div class="box sum">
                <span>共计<b ng-bind="quantity"></b>件商品</span>
                <span>合计:&nbsp;<em class="color-red">&yen; <i ng-bind="quantity*scene.DefaultScene.scene_fullprice"></i></em></span>
            </div>
        </div>
    </section>
    <footer class="footer-order footer-order-2">
        <a href="#/step2">确认提交</a>
    </footer>
</div>

