{% extends 'layout.html' %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <style>
        body.modal-open {
          width: 100%;
        }
        
        .media img, .swiper-slide img{
            display: block;
            margin: 0 auto;
            /*width: 100%;*/
            /*height: 100%;*/
        }
        
        .swiper-container {
            /*max-width: 640px;*/
            background: rgba(0,0,0,1);
        }
        .swiper-container span{
          background: #ccc;
        }
        div.modal{
          overflow-y:initial !important;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <!-- <nav class="navbar" style="margin-bottom:0;"></nav> -->
    <div class="container-fluid">
{#       {% for i in range(5) %}
       <div class="media">
           <a href="/canvas/{{loop.index}}">
             <img class="media-object lazy" data-original="/static/images/{{i+1}}.jpg" alt="...">
           </a>
        </div>
      {% endfor %} #}
    </div>
    <!-- Slider main container -->
    <div class="container" style="padding: 0;">
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for i in slide_image_list %}
              
            <div class="swiper-slide">
              <img class="swiper-lazy" data-src="/static/uploads/slide/{{i}}" alt="" data-index="{{ loop.index }}">
            </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination "></div>
        
        <!-- If we need navigation buttons -->
{#         <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
 #}        
        <!-- If we need scrollbar -->
        {# <div class="swiper-scrollbar"></div> #}
    </div>
    </div>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div>
            <form method="post" action="/upload" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="form-group">
                    <div style="position: relative; margin-bottom: 25px;">                  
                      <label style="position: absolute; width: 100%;" class="btn btn-primary" for="exampleInputFile">select image</label>
                      <input style="width: 100%; height: 100%;" type="file" id="exampleInputFile" name="myfile">
                    </div>
                    
                    <div style="position: relative;">                  
                      <p class="help-block">To upload images file size &lt; 20m.</p>
                      <p style="position:absolute; width:100%;font-weight: bold; text-align: center;" id="image-file-name"></p>
                    </div>
                  </div>
  <!--               <div class="form-group">
                  <label for="recipient-name" class="control-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="control-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" onclick="javascript:$('.modal').slideUp();">Upload</button>
            </div>
            </form>
        </div>
      </div>
    </div>
    <div id="alert-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/swiper.min.js"></script>
    <script>
    // $("img.lazy").lazyload({
    //     effect: 'fadeIn',
    //     event: 'sporty'
    // });
    </script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        // speed: 500,
        preloadImages: false,
        //====================
        lazyLoading: true,
        // lazyLoadingInPrevNext: true,
        lazyLoadingOnTransitionStart: true,
        //====================
        direction: 'horizontal',
        loop: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        // If we need pagination
        pagination: '.swiper-pagination',
        // Navigation arrows
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        // effect: 'flip',
        //  flip: {
        //    slideShadows : true,
        //    limitRotation: true
        //  }
        // And if we need scrollbar
        // scrollbar: '.swiper-scrollbar'
        onLazyImageReady: function(swiper, slide, image){
            var $image = $(image),
              img_w = $image.width(),
              img_h = $image.height();
            var tw = $(window).width();
            var th = tw * 3 / 4;
            // tw = tw < 640 ? tw : 640;
            th = th < 480 ? th : 480;
            if ($image.attr('data-index') == 1) {

              $('.swiper-container').css({
                height:  th + 'px',
                // width: tw + 'px'
              });
            }
            if (img_h/img_w > 3/4){

              $image.css({
                width: img_w * th / img_h + 'px',
              });
            } else {
              th2 = img_h * tw / img_w;
              th = th > th2 ? th2 : th;
              $image.css({
                height:  th + 'px'
              });
            }
          
          $(image).hide().fadeIn();
        },
        onSlideNextStart: function(){
          $('.swiper-slide-prev').fadeOut().fadeIn('fast');
        },
        onTransitionEnd: function(){

        }
      });
    </script>
    <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text('文件上传' + recipient);
        // modal.find('.modal-body input').val(recipient)
      })
    </script>
    <script>

     $(function(){
        $('#exampleInputFile').on({
          change: function(){
            var fullpath = $(this).val();
            console.log(fullpath);
            var filename = fullpath.split('path\\')[1],
                fractions = filename.split('.'),
                prefix = fractions[0],
                postfix = fractions[1];
            var tfilename;
            if (prefix.length > 15){
              tfilename = [prefix.slice(0,5) + '*****' + prefix.slice(-6,-1), postfix].join('.');
            }else{
              tfilename = [prefix, postfix].join('.');
            }
            $('#image-file-name').text(tfilename);
          }
        });
     });
    </script>
{% endblock %}