{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <style>
        body.modal-open {
          width: 100%;
        }
        .media img, .swiper-slide img{
            width: 100%;
        }
        
        .swiper-container {
            max-width: 800px;
        }
        .swiper-container span{
          background: #ccc;
        }
        div.modal{
          overflow-y:initial !important;
        }

    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="opacity:.9;width:100%;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Nomads</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal" data-whatever="@localhost">文件上传</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/reg">Register</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <nav class="navbar" style="margin-bottom:0;"></nav>
    <div class="container-fluid">
{#       {% for i in range(5) %}
       <div class="media">
           <a href="/canvas/{{loop.index}}">
             <img class="media-object lazy" data-original="/static/images/{{i+1}}.jpg" alt="...">
           </a>
        </div>
      {% endfor %} #}
    </div>
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for i in slide_image_list %}
              
            <div class="swiper-slide">
              <img class="swiper-lazy" data-src="/static/uploads/slide/{{i}}" alt="">
            </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination "></div>
        
        <!-- If we need navigation buttons -->
{#         <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
 #}        
        <!-- If we need scrollbar -->
        {# <div class="swiper-scrollbar"></div> #}
    </div>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New message</h4>
          </div>
          <form method="post" action="/upload" enctype="multipart/form-data">
          <div class="modal-body">
              <div class="form-group">
                  <label for="exampleInputFile">upload images</label>
                  <input type="file" id="exampleInputFile" name="myfile">
                  <p class="help-block">To upload images file size &lt; 50m.</p>
                </div>
<!--               <div class="form-group">
                <label for="recipient-name" class="control-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="control-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="javascript:$('.modal').slideUp();">Upload</button>
          </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script>
    // $("img.lazy").lazyload({
    //     effect: 'fadeIn',
    //     event: 'sporty'
    // });
    </script>
    <script>
      var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        // speed: 500,
        preloadImages: false,
        //====================
        lazyLoading: true,
        // lazyLoadingInPrevNext: true,
        lazyLoadingOnTransitionStart: true,
        //====================
        direction: 'horizontal',
        loop: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        // If we need pagination
        pagination: '.swiper-pagination',
        // Navigation arrows
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        // effect: 'flip',
        //  flip: {
        //    slideShadows : true,
        //    limitRotation: true
        //  }
        // And if we need scrollbar
        // scrollbar: '.swiper-scrollbar'
        onLazyImageReady: function(swiper, slide, image){
          $(image).hide().fadeIn();
        },
        onSlideNextStart: function(){
          $('.swiper-slide-prev').fadeOut().fadeIn('fast');
        },
        onTransitionEnd: function(){

        }
      });
    </script>
    <script>
      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text('文件上传' + recipient);
        // modal.find('.modal-body input').val(recipient)
      })
    </script>
    <script>
     (function(){
       if ("{{ alert_msg }}" == 1){
          alert("上传成功!");
          window.location.href="/";
       } else if ("{{ alert_msg}}" == "0"){
          alert("上传失败!");
          window.location.href="/";
       }
     })();
    </script>
{% endblock %}