<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>angular</title>
    <style>
/*    table, th , td {
      border: 1px solid #aaa;
      border-collapse: collapse;
      padding: 5px;
    }
    table tr:nth-child(odd) {
      background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
      background-color: #ffffff;
    }*/
    </style>
</head>
<body>
    <div ng-app="myapp" ng-controller="myctrl">
        x:  <input type="text" ng-model="x"><br>
        y:  <input type="text" ng-model="y"><br>
        z:  <p ng-bind="result()"></p>
        <hr>
         <p ng-bind="'a: ' + divide('a')"></p>
         <p ng-bind="'b: ' + divide('b')"></p>
        c:  <input type="text" ng-model="c">
        <hr>
        d:  <input type="text" ng-disabled="switch"><br>
        <input type="checkbox" ng-model="switch">lock
        <hr>
        d:  <input type="text" ng-hide="switch2"><br>
        <input type="checkbox" ng-model="switch2">hide
<!--         d:  <input type="text" ng-show="switch2" ng-init="switch2=true"><br>
        <input type="checkbox" ng-model="switch2" checked>show
 -->        <hr>
        <!-- <li ng-repeat="x in json|orderBy:'name'" ng-bind="showname(x)"></li> -->

        <table style="border-collapse: collapse">
            <tr ng-repeat="x in json|orderBy: 'birth'">
<!--                 <td>{{ $index + 1}}</td>
                <td>{{ x.order_contact_name }}</td>
                <td>{{ x.order_userid}}</td>
                <td>{{ x.order_date }}</td> -->
                <td ng-if="$odd" ng-bind="$index+1"></td>
                <td ng-if="$odd" ng-bind="x.sname"></td>
                <td ng-if="$odd" ng-bind="x.birth"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="$index+1"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="x.sname"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="x.birth"></td>
<!--                 <td ng-if="$odd" ng-bind="$index+1"></td>
                <td ng-if="$odd" ng-bind="x.order_contact_name"></td>
                <td ng-if="$odd" ng-bind="x.order_date"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="$index+1"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="x.order_contact_name"></td>
                <td ng-if="$even"  style="background-color:#f40" ng-bind="x.order_date"></td>
 -->
            </tr>
        </table>
        <hello:world/>
    </div>
    <script src="/static/js/angular.min.js"></script>
    <script>
        app = angular.module("myapp", []);
       app.directive('helloWorld', function() {
         return {
             restrict: 'AE',
             replace: true,
             template: '<h3>Hello World!!</h3>'
         };
       });
        app.controller('myctrl', function($scope, $http){
            $http.get("/home").success(function(response) { $scope.json = response.testdata;});
            $scope.showname = function(x){
                return x.name;
            };
            $scope.result = function(){
                return ($scope.x && $scope.y) ? $scope.x * $scope.y : ($scope.x ? $scope.x : $scope.y);
            };
            $scope.divide = function(x){
              return $scope.c? (x == "a" ? $scope.c/100: $scope.c/1000):"";
            };
            $scope.switch2 = false;
            
        });
    </script>
</body>
</html>