{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div class="container" ng-controller="uploadCtrl">
    <div class="page-header">
      <h3>Upload Image</h3>
    </div>
    <div class="image-frame" id="add">
      <div class="image-container">
      </div>
    </div>
        <p id="image-file-name">&nbsp;</p>
<!--       <div id="img1" style="overflow:hidden;position:relative; width: 120px;height: 120px;margin:20px auto 0; background-color: #eee; ">
          <p style="margin-top: 35%; text-align: center;">120 X 120</p>
      </div> -->
      <!--
      <form method="post" action="/upload" enctype="multipart/form-data">
      <div class="modal-body">
          <div class="form-group">
              <div style="position: relative; max-width: 240px; margin:20px auto;">                  
                <label style="position: absolute; width: 100%;" class="btn btn-primary" for="exampleInputFile">select image</label>
                <input style="width: 100%; height: 100%;" type="file" id="exampleInputFile" name="myfile">
              </div>
              

                 <p class="help-block">To upload images file size &lt; 20m.</p> 
                <p style="width:100%;font-weight: bold; text-align: center;" id="image-file-name"> &nbsp;</p>

            </div>
      </form>
    -->

  </div>
  <footer class="footer">
  [[ ng.getStyle() ]]
  <form method="post" action="/upload" enctype="multipart/form-data" ng-controller="formCtrl" >
    <div class="container" id="upload-box">
      <div class="footer-left">
        <button ng-hide="ng.hideCloseButton" type="button" class="close pull-left"><span aria-hidden="true">&times;</span></button>
        <p class="text-muted center-line">To upload images file size &lt; 20m.</p>
      </div>
        <input type="checkbox" ng-model="loaded" id="check">
      <div class="footer-right file-upload-btn">
      [[ getText() ]]
      <button class="btn" ng-class="{'btn-success': loaded, 'btn-info': !loaded}">upload</button>
      
        <input ng-model="abc" type="file"  value="确认上传" onchange="javascript:angular.element(this).scope().ng.test();">
      </div>
    </div>
    </form>
  </<footer>

{% endblock %}
{% block script %}
    {{ super() }}
    <script>
      /**
      * upload Module
      *
      * Description
      */
      angular.module('upload', [
        'commonConfig',
        'commonFilter'
      ])
      .controller('uploadCtrl', [
        '$scope',
        function($scope){
        
      }])
      .controller('formCtrl', [
        '$scope',
        function($scope){
          $scope.loaded = false;
          $scope.getText = function(){
            return $scope.ttt;
          };
          $scope.ng = {
            getText: function(){
              return this.loaded;
            },
            loaded: false,
            hideCloseButton: true,
            test: function(){
              console.log($scope.loaded)
              console.log($scope.abc)
              $scope.loaded = true;
              console.log($scope.loaded)
              console.log($scope.abc)
            },
          };

      }]);
      angular.bootstrap(document.querySelector('body'), ['upload']);
    </script>
{% endblock %}