{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div class="container">
    <div class="page-header">
      <h3>Upload Image</h3>
    </div>
    <div class="image-frame" id="add">
      <div class="image-container">
      </div>
    </div>
        <p id="image-file-name">&nbsp;</p>
<!--       <div id="img1" style="overflow:hidden;position:relative; width: 120px;height: 120px;margin:20px auto 0; background-color: #eee; ">
          <p style="margin-top: 35%; text-align: center;">120 X 120</p>
      </div> -->
      <!--
      <form method="post" action="/upload" enctype="multipart/form-data">
      <div class="modal-body">
          <div class="form-group">
              <div style="position: relative; max-width: 240px; margin:20px auto;">                  
                <label style="position: absolute; width: 100%;" class="btn btn-primary" for="exampleInputFile">select image</label>
                <input style="width: 100%; height: 100%;" type="file" id="exampleInputFile" name="myfile">
              </div>
              

                 <p class="help-block">To upload images file size &lt; 20m.</p> 
                <p style="width:100%;font-weight: bold; text-align: center;" id="image-file-name"> &nbsp;</p>

            </div>
      </form>
    -->

  </div>
  <footer class="footer">
  <form method="post" action="/upload" enctype="multipart/form-data">
    <div class="container hidden" id="upload-box">
      <div class="footer-left">
        <button type="button" class="close pull-left"><span aria-hidden="true">&times;</span></button>
        <p class="text-muted center-line">To upload images file size &lt; 20m.</p>
      </div>
      <div class="footer-right">
        <input type="submit" class="btn btn-success" value="确认上传">
      </div>
    </div>
    <div class="container hidden" id="add-box">
      <div class="footer-left">
        <button type="button" class="close pull-left"><span aria-hidden="true">&times;</span></button>
        <p class="text-muted center-line">To upload images file size &lt; 20m.</p>
      </div>
      <div class="footer-right">
        <button type="button" class="btn btn-info file-upload-btn">
          选择图片
          <input id="upload" type="file" name="myfile">

        </button>
      </div>
    </div>
    </form>
  </<footer>

{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        (function(){
          if ("{{ alert_msg }}" == 1){
             alert('上传成功');
             window.location.href="/";
          } else if ("{{ alert_msg}}" == "0"){
             alert("上传失败!");
             window.location.href="/";
          }
        })();
        $(function(){
           var EVENTS = {
            e: {
              $addButton: $("#add"),
              $closeButton: $("button.close"),
              $footer: $(".footer"),
              $upload: $("#upload"),
            },
            listen: function(e){
              this[e]();
            },
            removeClassAsync: function(callback){
              var self = this;
              setTimeout(function(){
                self.e.$footer.removeClass('footer-hide');
                self.e.$footer.removeClass('footer-show');
                if (callback) return callback();
              }, 500);
            },
            showBox: function(selector){
              var self = this,
                  $footer = self.e.$footer;
              $footer.find(selector).removeClass('hidden').siblings().addClass('hidden');
              $footer.addClass('footer-show');              
            },
            $addButton: function(){
              var self = this;
              this.e.$addButton.on({
                click:function(){
                  self.resetFooter();
                  self.showBox('#add-box');
                }
              });
            },
            $closeButton: function(){
              var self = this;
              this.e.$closeButton.on({
                click: function(){
                  self.e.$footer.addClass('footer-hide');
                  self.removeClassAsync();
                } 
              });
            },
            $upload: function(){
              var self = this;
              self.e.$upload.on({
                change: function(){
                  var fullpath = $(this).val();
                  var filename = fullpath.split('path\\')[1],
                      fractions = filename.split('.'),
                      prefix = fractions[0],
                      postfix = fractions[1];
                  var tfilename;
                  if (prefix.length > 15){
                    tfilename = [prefix.slice(0,5) + '*****' + prefix.slice(-6,-1), postfix].join('.');
                  }else{
                    tfilename = [prefix, postfix].join('.');
                  }
                  $('#image-file-name').text(tfilename);
                  // ==========
                  var files = this.files ? this.files : [];
                  if (!files.length || !window.FileReader) return;
                  if (/^image/.test(files[0].type)){
                   var reader = new FileReader();
                   reader.readAsDataURL(files[0]);
                   reader.onloadend = function(){
                     var img =  new Image();
                     img.src = this.result;
                     $('.image-container').html(
                       '<img width="120" height="120" src="' + 
                       this.result +
                       '">' 
                     );
                     // ==========
                     self.e.$footer.addClass('footer-hide');
                     self.removeClassAsync(function(){
                      self.resetFooter();
                      self.showBox('#upload-box');

                     });
                     
                   };
                  }
                }
              });
            },
            resetFooter: function(){
              this.e.$footer.children('.container').addClass('hidden');
            },
            listenAll: function(){
              var self = this;
              for (var key in self){
                if (key[0] == '$'){
                  self.listen(key);
                }  
              }
            }


           };
           EVENTS.listenAll();
           // EVENTS.listen('$test');
           // EVENTS.listen('$closeButton');

        });
    </script>
{% endblock %}