{% extends "layout.html" %}
{% block body %}
  {{ super() }}
  <div class="container" ng-controller="headerCtrl" style="height: 100%;">
    <div class="page-header">
      <h3>Upload Image</h3>
    </div>
    <div class="image-frame" id="add">
      <div class="image-container" style="position: relative;">
        Press and Add Image
          <img ng-src="[[ image.src ]]" alt="" width="120" height="120"
               style="position: absolute;left: 0;width: 100%;height:100%;">
      </div>
    </div>
      <p id="image-file-name" style="text-align:center;" ng-bind="image.name ? image.name : ''"></p>
  </div>
  <footer class="footer" ng-controller="footerCtrl">
  <form method="post" action="/upload" enctype="multipart/form-data">
    <div ng-show="fileloaded" class="container" id="upload-box">
      <div class="footer-left">
        <button type="button" class="close pull-left"><span aria-hidden="true">&times;</span></button>
        <p class="text-muted center-line">To upload images file size &lt; 20m.</p>
      </div>
      <div class="footer-right">
        <input type="submit" class="btn btn-success" value="确认上传">
      </div>
    </div>
    <div ng-show="!fileloaded" class="container" id="add-box">
      <div class="footer-left">
        <button type="button" class="close pull-left"><span aria-hidden="true">&times;</span></button>
        <p class="text-muted center-line">To upload images file size &lt; 20m.</p>
      </div>
      <div class="footer-right">
        <button type="button" class="btn btn-info file-upload-btn">
          选择图片
          <!--<input ng-model="abc" change="onfileloaded()" id="upload" type="file" name="myfile">-->
            <fileinput/>
        </button>
      </div>
    </div>
    </form>
  </<footer>

{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        angular.module('upload',['commonConfig'])
                .controller('headerCtrl', [
                        "$scope",
                        "$rootScope",
                        function($scope, $rootScope){
                            $scope.image = {
                                src: null,
                                name: null
                            }
                            $rootScope.$on("onfileloaded", function(event, data){
                                Object.assign($scope.image, {
                                    name: data[0],
                                    src: data[1]
                                })
                            })

                        }
                ])
                .controller('footerCtrl', [
                    "$scope",
                    function($scope){
                        $scope.fileloaded = false;
                        $scope.$broadcast("onfileloaded")
                }])
                .directive('fileinput', function(){

//                        reader.onloadend = function(){
//                            var img =  new Image();
//                            img.src = this.result;
//                            $('.image-container').html(
//                                    '<img width="120" height="120" src="' +
//                                    this.result +
//                                    '">'
//                            );
//                            // ==========
//                            self.e.$footer.addClass('footer-hide');
//                            self.removeClassAsync(function(){
//                                self.resetFooter();
//                                self.showBox('#upload-box');
//
//                            });
//
//                        };
                    var readImageFile = function(elem){
                        var files = elem.files ? elem.files : [];
                        if (!files.length || !window.FileReader) return;
                        if (/^image/.test(files[0].type)){
                            var reader = new FileReader();
                            reader.readAsDataURL(files[0]);
                            return [reader, files[0].name];
                        }
                    };

                    return {
                        replace: true,
                        template: '<input type="file" name="myfile"/>',
                        link: function($scope, elem, attr){
                            elem.on('change', function(){
                                var temp = readImageFile(this),
                                        reader = temp[0],
                                        name = temp[1];
                                reader.onloadend = function(){
                                    $scope.$emit("onfileloaded", [name, this.result]);
                                    $scope.$apply(function () {
                                        $scope.fileloaded = true;

                                    });

                                }

                            });
                        }
                    }
                });
        angular.bootstrap(document.querySelector("body"), ["upload"]);
    </script>
{% endblock %}