@charset "utf-8";
/* reset */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section, address {
    padding: 0;
    margin: 0;
}

form {
    border: 0;
}

html {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    overflow-y: scroll;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    font-size: 100%;
}

ul, li, ol {
    list-style: none;
}

em, i, address {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:focus, textarea:focus, a:focus {
    outline: 0 none;
}

img {
    border: 0 none;
}

body {
    color: #666;
    background: #fff;
    font-family: Microsoft Yahei, sans-serif;
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover, a:visited {
    color: #666;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled], html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

::-moz-placeholder {
    color: #c7c7c7;
}

:-ms-input-placeholder {
    color: #c7c7c7;
}

::-webkit-input-placeholder {
    color: #c7c7c7;
}

a, li, input, button, section, span, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

@media only screen {
    html {
        font-size: 10px
    }

    /* IP5 */
}

@media only screen and (min-width: 321px) and (max-width: 374px) {
    html {
        font-size: 11.2px
    }

    /* 安卓*/
}

@media only screen and (min-width: 375px) and (max-width: 399px) {
    html {
        font-size: 11.7px
    }

    /* 安卓 IP6 */
}

@media only screen and (min-width: 400px) and (max-width: 479px) {
    html {
        font-size: 13px
    }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    html {
        font-size: 16px
    }
}

@media only screen and (min-width: 640px) and (max-width: 719px) {
    html {
        font-size: 20px
    }
}

@media only screen and (min-width: 720px) {
    html {
        font-size: 22.5px
    }
}

/* end reset */

