@charset "utf-8";
/* CSS Document */
body {
    background: #fff;
}

.wrapper {
    max-width: 720px;
    _width: 720px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 600px;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    background-color: #FFF;
}

section img {
    display: block;
    width: 100%
}

/*header*/
.header {
    position: relative;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
}

.header .btitle {
    width: 100%;
    height: 4.1rem;
    text-align: center;
    background-color: #d63232;
    position: relative;
}

.btitle h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 4.1rem;
    color: #fff;
}

.main_visual {
    width: 100%;
    height: 10.39rem;
    overflow: hidden;
    position: relative;
    display: block;
}

.main_image {
    width: 100%;
    height: 10.39rem;
    overflow: hidden;
    position: relative;
}

.main_image ul {
    width: 100%;
    height: 10.39rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
    height: 10.39rem;
}

.main_image li span {
    display: block;
    width: 100%;
    height: 10.39rem
}

.main_image li a {
    display: block;
    width: 100%;
    height: 10.39rem
}

.main_image li img {
    display: inline-block;
    width: 100%;
    height: 10.39rem
}

div.flicking_con {
    position: absolute;
    top: 9rem;
    right: 1%;
    z-index: 999;
}

div.flicking_con a {
    float: right;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.28rem;
    _font-size: 0;
    cursor: pointer;
    background: #fff;
    border-radius: 16px;
    text-indent: -999rem;
}

div.flicking_con a.on {
    background-color: #d63232;
}

/*nav*/
.nav_dropdown {
    width: 100%;
    background-color: #fff;
}

.nav_dp {
    position: relative;
    padding-top: .7rem;
    width: 100%;
    height: 3rem;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1000;
}

.nav_dp .dp {
    float: left;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.nd4 .dp {
    width: 25%;
}

.nd3 .dp {
    width: 33.3%;
}

.nav_dp .dp:last-child {
    border: 0;
}

.nav_dropdown a {
    position:relative;
}

.nav_dropdown i {
    position: absolute;
    top:.5rem;
    right:.5rem;
    display: block;
    width: .1rem;
    height: .1rem;
    border: .36rem solid transparent;
    border-top-color: #333;
}

.nav_dp .dp.on a {
    color: #f64f00;
}

.nav_dp .dp.on i {
    border-top-color: #f64f00;
}

.nav_dp ul {
    position: absolute;
    right: 0;
    top: 2.9rem;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    box-sizing: border-box;
    z-index: 999;
}


.nav_dp ul li {
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}

.nav_dp ul li.on {
    color: #f64f00;
    background-color: #fff;
}


.search_list > div > div {
    width: 100%;
    padding: .5rem;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.search_list .left {
    float: left;
    width: 9.33rem;
    height: 6.36rem;
}

.search_list .left img {
    width: 9.28rem;
    height: 6.36rem;
}

.search_list .right {
    position: relative;
    float: left;
    width: 21.3rem;
    padding: .5rem 0 0 .5rem;
    font-size: 1rem;
    color: #aaa;
    box-sizing: border-box;
}

.search_list .right dt {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    margin-bottom: .8rem;
}

.search_list .right dl span {
    display: block;
}

.search_list dd {
    position:relative;
}

.search_list dd span i {
    color: #f00;
}

.search_list .right dd>span {
    margin-top:.8rem;
}

.search_list .add {
    margin-top:1rem;
    padding:.5rem 0 0;
    border-top: 1px solid #dbdbdb;
}

.search_list .add li {
    height: 1.8rem;
    line-height: 1.8rem;
}

.search_list .add i {
    margin-right: .5rem;
    padding:.1rem .8rem;
    background-repeat: no-repeat;
    background-size:contain;
}

i.hui  {
    background-image: url(/static/img/mobile/hui.png);
}

i.quan  {
    background-image: url(/static/img/mobile/quan.png);
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #000;
    opacity:.7;
    z-index: 100;
    display: none;
}