log.txt
.DS_Store
logs/*.log*
doc/~$DB_Field_Table.xlsx
*.pyc
logs/emptyfile

static/img/avatar/user/N*.jpeg
static/img/avatar/user/S*.jpeg
static/img/avatar/user/P*.jpeg
static/img/avatar/user/L*.jpeg
static/img/avatar/product/P*.jpeg
static/img/avatar/ads/P*.jpeg
static/img/avatar/article/P*.jpeg
static/img/avatar/category/P*
static/img/upload/P*.jpeg
static/img/upload/*.png
static/img/upload/17dong_ads_position.jpg
*.class
rss/*.xml

backup/*
*~
\#*\#
.\#*
**/__pycache__
.projectile
*.swp

static/img/avatar/temp/*.jpeg
static/img/avatar/temp/*.jpg
static/img/avatar/temp/*.png

static/img/avatar/vote/P*.jpeg
static/img/avatar/vote/C*.jpeg

static/img/avatar/competition/C*.jpeg
static/img/upload/competition/R*.jpeg

static/img/avatar/activity/P*.jpeg
static/img/avatar/subject/P*.jpeg
